---
import MainLayout from "../layouts/MainLayout.astro";
import SiteLink from "../components/ui/SiteLink.astro";
---

<MainLayout title="About - Calculadora Fiscal">
	<section class="panel about-panel">
		<h1>About</h1>
		<p>Dummy: esta pagina existe como placeholder para informacion del proyecto.</p>
		<SiteLink href="/">Volver a la Calculator</SiteLink>
	</section>
</MainLayout>
